.button{
    display: block;
    margin: auto;
    margin-top: 2em;
    align-items: center;
    background: linear-gradient(45deg, #dfaeb4, #dd9ac2);
    color: #fff;
    padding: 15px;
    border-radius:15px ;
    cursor: pointer;
    border: solid 1px #b486ab;
    min-width: 20em;
    
}

.button-link {
    text-decoration: none; /* Removes underline */
   
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.button:hover {
    animation: shake 0.3s ease-in-out;
}

/* Welcome message styling */
#welcomeMessage {
    background: linear-gradient(45deg, #b486ab, #82667f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    font-size: clamp(2rem, 6vw, 4rem);
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (max-width: 992px) {
  #welcomeMessage {
    padding-top: 2.5em;
  }
}

@media only screen and (min-width: 993px) {
  #footerPlaceholder {
    display: none;
  }

  #welcomeMessage {
    margin-top: -15px;
  }
}