#info {
    padding-top: 3em;
    padding-bottom: 3em;
}

#addAppliance:hover {
    background-color: #00000008;
    cursor: pointer;
}

#reminderTemplate:hover {
    cursor: pointer;
    background-color: #00000008;
}