<footer class="d-lg-none navbar bg-light d-flex flex-row justify-content-betweeen px-5 w-100 fixed-bottom" id="footerContainer">
    <a href="/contacts" class="rounded px-3 p-2 btn btn-outline-light border-0"><i class="material-icons align-middle" style="font-size: 50px;">group</i></a>
    <a href="/sds" class="rounded px-3 p-2 btn btn-outline-light border-0"><i class="material-icons align-middle" style="font-size: 50px;">description</i></a>
    <a href="/vestabot" class="rounded px-3 p-2 btn btn-outline-light border-0"><img src="/images/vestabot-icon.png" class="align-middle footer-icon-img rounded-4"></a>
</footer>